///*------------------------------*\
//		#TYPE
//\*------------------------------*/

/**
 * Typographical base selectors
 */

/**
 * Headings 1-6
 */
@include headings(){
	@include font-weight("bold");
	text-transform: uppercase;
	color: #000;
}

/**
 * Heading styling
 */