///*------------------------------*\
//		#WRAPPERS
//\*------------------------------*/

.o-wrapper{
	max-width: 980px;
	margin: 0 auto;
	/* We can use this later */
	padding-right: 0;
	padding-left: 0;
}