///*------------------------------*\
//		#COLORS
//\*------------------------------*/

$color-brand:               $brand-color;
$color-brand-hard:          #01949a;
$color-product-information: #fafafa;

// Headings


// Links


// Forms


// Footer
