///*------------------------------*\
//		#ALIASES
//\*------------------------------*/

// Alias for inuit-font-size mixin
@mixin font-size($args...) {
	@include inuit-font-size($args...);
}

/*
 * Rename Inuit variables for later use and easier remembering.
 */
 $spacing-unit:          $inuit-base-spacing-unit;
 $spacing-unit--tiny:    $inuit-base-spacing-unit--tiny;
 $spacing-unit--small:   $inuit-base-spacing-unit--small;
 $spacing-unit--large:   $inuit-base-spacing-unit--large;
 $spacing-unit--huge:    $inuit-base-spacing-unit--huge;